.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    
    text-align: center;
    color: #FFF;
    background: #000;
    padding: 4px;
    text-align: center;
    
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__text--big {
    font-weight: bold;
    font-size: 30pt;
}

.footer__text--small {
    font-size: 20pt;
    font-style: italic;
}
