.near {
  margin-bottom: 90px;
}

.user {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 500px;
    margin-bottom: -4px;
}

.user__pic {
    width: 40%;
}
.user__pic img {
    width: 100%;
    height: auto;
}

.user__data {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 20px;
}

.user__data__name {
    text-align: center;
    margin-bottom: 12px;
}

.user__data__name span {
    background: #000;
    color: #FFF;
    padding: 3px;
}

.user__data__message {
    text-align: center;
    font-style: italic;
}

.empty {
    text-align: center;
    font-size: 16pt;
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
}